<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= csrf_meta_tags %>
<!-- Styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!-- END Styles -->  
    <!-- JAVASCRIPT -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- END JAVASCRIPT -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
